.gf-header
{
    background-color: black;
    height: 100px;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
}

.gf-header a
{
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-style: bold;

}

.gf-header a:hover
{
    text-decoration: underline;
}

.botonHeader li:hover
{
    background-color: #61dafb;
}

.botonHeader li a:hover
{
    color: black;
}

.botonHeader
{
    width: 100%;
}

.botonHeader li
{
    width: 120px;
}

.botonHeader, .botonHeader li
{
    height: 100%;
}


.logoNavbar
{
   padding-left: 50px; 
}

.lista
{
    height: 100%;
    width: 300px;
}

.botonHeader li a
{
    display: inline-block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}